.list-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.list-body{
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.item-group{
    display: flex;
    align-items: center;
}

.title-div{
    display: flex;
    align-items: center;
}