.login-container{
    display: flex;
    height: 97vh;
    background-color: rgb(245, 231, 232);
    justify-content: center;
    align-items: center;
}

.login-title-div{
    display: flex;
    align-items: center;
}

.login-uname-grp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.login-pass-grp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-area{
    margin-right: 2%;
}

.form-area{
    width: 80%;
}